@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Erhvervsakademi Aaarhus<br />
    Sønderhøj 30<br />
    8260 Viby<br />   
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:contact@example.com">contact@example.com</a><br />  
</address>